<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container-fluid">

    <!-- BRAND WITH IMAGE -->
    <a class="navbar-brand fw-bold d-flex align-items-center" href="/home">
      <!--<img
        src="/images/logo3.svg"
        alt="Logo"
        style="height: 40px; width: auto; margin-right: 10px; border-radius: 5px;"
      >-->
      Gal(Gym + Kcal)_Tracker!
    </a>

    <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">Calculator</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Macro_Tracker</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<br><br><br>
