<%- include("partials/header.ejs") %>
    <title>Home</title>
    <body>
        <%- include("partials/nav_bar.ejs") %>
        <h1>Home</h1>
        <%- include("partials/footer.ejs") %>
    </body>

