<%- include("partials/header.ejs") %>
<title>Login</title>

<body>
  <%- include("partials/nav_bar.ejs") %>

  <div class="login-wrapper">
    <h1 class="mb-4">Login</h1>

    <div class="login-card">
      <form method="POST" action="/loginProcess">

        <!-- Email -->
        <div class="mb-3 text-start">
          <label class="form-label">Email</label>
          <input type="text" name="email" class="form-control">
        </div>

        <!-- Password -->
        <div class="mb-3 text-start">
          <label class="form-label">Password</label>
          <input type="password" name="password" class="form-control">
        </div>

        <button class="btn btn-danger w-100 mt-3">Login</button>
      </form>
    </div>

  </div>

  <%- include("partials/footer.ejs") %>
</body>
